#body {
  background-color: #d3adad;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #b89292;
  width: auto;
  box-sizing: border-box;
  position: relative;
}

.logo {
  width: 120px;
  margin: 20px;
}
.nav-items {
  padding: 0px 300px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 20px;
  padding: 10px;
}

.res-card {
  padding: 5px;
  width: 200px;
  box-sizing: border-box;
  margin: 50px;
  padding: 20px;
}

/* In your case, by setting box-sizing: border-box;
for .res-card, you ensure that when you add a border on hover, it won't increase the total size of the card, and it won't affect the layout of neighboring cards. 
The total size is fixed, and the border and padding are included within that size. */

.res-card:hover {
  cursor: pointer;
  border: 2px solid #b89292;
  box-shadow: 0.5px 0.5px grey;
}

.search {
  padding: 20px;
}

.res-logo {
  width: 100%;
  height: 45%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
